input {
    width: 100%;
    padding: 0.75rem 1rem; /* 12px arriba/abajo, 16px izquierda/derecha */
    border-radius: 0.75rem; /* 12px */
    border: none;
    outline: none;
    color: #374151; /* gray-700 */
    background-color: #f1f8f4;
    font-size: 1rem;
}
