.CajaRegistroExitoso {
    width: 350px;
    margin: 50px auto;
    padding: 40px 35px;
    background: #c8e6c9;
    border-radius: 20px;
    border: 1px solid rgba(16, 185, 129, 0.05);
    box-shadow: 0 20px 60px rgba(16, 185, 129, 0.06), 0 8px 20px rgba(5, 150, 105, 0.04);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.TituloExito {
    font-size: 26px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
}

.MensajeBienvenida {
    font-size: 18px;
    font-weight: 500;
    color: #2e7d32;
    margin: 0;
}

.MensajeConfirmacion {
    font-size: 16px;
    color: #2E2E2E;
    margin: 0;
    line-height: 1.5;
}

.BotonContinuar {
    width: 100%;
    padding: 18px;
    border-radius: 14px;
    background-color: #2e7d32;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

    .BotonContinuar:hover {
        background-color: #00cc44;
    }

/* Responsive */
@media (max-width: 450px) {
    .CajaRegistroExitoso {
        width: 90%;
        padding: 30px 25px;
    }
}
