
.Encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    background-color: transparent;
}
/*Estilos del logo*/
/*.LogoRecyRoute {
    margin: 0;*/ /*Elimina márgenes predeterminados del h1*/
/*}*/

.Botones {
    display: flex;
    gap: 30px;
}

.BotonIniciarSesion {
    padding: 16px 16px;
    border: none;
    border-radius: 12px;
    background: #0066ff;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}

.BotonRegistrarse {
    padding: 16px 16px;
    border: none;
    border-radius: 12px;
    background: #00A63E;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.BotonIniciarSesion:hover {
    background: #0088FF;
}

.BotonRegistrarse:hover {
    background: #00cc44;
}

.ContenidoPrincipal {
    display: flex;
    justify-content: space-between; /* texto a la izquierda, imagen a la derecha */
    align-items: center; /* centra verticalmente */
    padding: 40px;
}

.ContenidoPrincipal h2 {
    font-family: Poppins;
    font-size: 43px;
    max-width: 100%;
    color: #333333;
    max-width: 80%;
}

.green {
    color: #0a9917;
}

.blue {
    color: #0066ff;
}

.ContenidoPrincipal p {
    font-family: Arial;
    font-size: 21px;
    color: #666;
    line-height: 2;
    align-items: flex-start; /* en lugar de center */
    margin-top: 1rem;
}

.ContenidoPrincipal .ImagenPrincipal {
    width: 520px;
    height: auto;
}
